.header {
	display: flex;
	align-items: center;

	> span {
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: #555;
		}

		.logo {
			max-height: 32px;
		}

		&.title-group {
			padding-left: 25px;

			> a {
				> i {
					padding-right: 5px;
				}
			}
		}
	}
}
